@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap');

body {
  margin: 0;
  height: 100vh;
  font-family: 'Scheherazade New', serif;
}

canvas {
  display: block;
}

h1 {
  color: beige;
  font-size: 7em;
  text-transform: uppercase;
  width: auto;
  line-height: .8em;
  padding: .2em;
  text-shadow: 4px 3px 5px #000000;
  background-color: #ffffffad;
  transition: all 0.7s;
}
h1:hover {
  text-shadow: 7px 5px 6px #000000;
  transition: all 0.7s;
}

section#threejs {
  position: relative;
}

.sound {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
}

.sound p, .sound a {
  color: #a09999;
  font-size: 0.9em;
  text-decoration: none;
}

.sound p {
  padding: 1%;
  border: 1px solid #a09999;
  border-radius: 3%;
}

footer {
  background-color: black;
  color:  #a09999;
  text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul.menu {

    display: inline-block;
    list-style-type: none;
}
li.menu_list {
    height: 100px;
    width: 100px;
    position: relative;
}
li.menu_list .front,
a.side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .7s ease-out;
    cursor: pointer;
}
li.menu_list .front {
    color: #ff0000;
    transform-origin: 0 0;
}
a.side {
    background-color: #950000;
    color: #a09999;
    transform-origin: 0 0 85px;
    transform: rotateY(-90deg);
}
li.menu_list:hover a.side {
    transform: rotateY(0deg);
}
li.menu_list:hover .front {
    transform: rotateY(90deg);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 4em;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5em;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 6em;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 7em;
  }
}
