body {
  margin: 0;
  height: 100vh;
}

canvas {
  display: block;
}

h1 {
  position: absolute;
  top: 2em;
  left: 2em;
  font-family: 'Montserrat';
  font-size: 7em;
  text-transform: uppercase;
  width: auto;
  line-height: .8em;
  padding: .2em;
  text-shadow: 4px 3px 5px #000000;
  background-color: #ffffffad;
  transition: all 0.7s;
}
h1:hover {
  text-shadow: 7px 5px 6px #000000;
  transition: all 0.7s;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

nav a {
  color: black;
  text-decoration: none;
}

.sound {
  position: absolute;
  top: 4em;
  left: 2em;
  max-width: 25%;
  text-align: center;
}

.sound p, .sound a {
  color: #a09999;
  font-size: 0.9em;
  text-decoration: none;
}

.sound p {
  padding: 1%;
  border: 1px solid #a09999;
  border-radius: 3%;
}

footer {
  text-align: center;
}
